.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.logo {
  font-weight: bold;
  font-size: 22px;
}
  
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link:hover {
  color: white;
}
  
.logout {
  padding: 5px;
  border: none;
  background-color: #398660;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bolder;
}

.logout:hover {
  background-color: #1c6b42;
  transition: 0.5s;
}